/* src/styles/main.css */

@import './variables.css';
@import './header.css';

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

p {
  color: var(--text-color-secondary);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-bold);
  margin: 0 0 10px;
}
